
<div class="footer">
    <div class="main">
        <div class="logo"></div>
    </div>
        <div class="bottom">
            <div class="section">
                <div class="above">About Us</div>
                <div class="below">We here at 'Bridging Gaps' provide the Senior Citizens with the best healthcare facilities that includes constant appointments with specialist doctors,medicine delivery and lab tests options as well as staying in constant touch with the patient through WhatsApp.</div>
            </div>
            <div class="section">
                <div class="above"> Address</div>
                <div class="below">
                   SNDT Women's University <br> Juhu Rd, Daulat Nagar, <br>Santacruz West, <br>Mumbai, Maharashtra 400049
                </div>
            </div>
            <div class="section">
                <div class="above">Contact us</div>
                <div class="below">ieeebridginggaps@gmail.com</div>
            </div>
        </div>
    <div class="end">All Rights Reseved by@XYZ</div>
</div>
