<div class="navbar navbar-show">
    <div class="navbar-logo" href="#">
        <div class="logo"></div>
    </div>
    <div *ngIf= "role == 1" class="nav">
        <div class="open navbar-open" id="navbarinfo">        
            <ul class="navbar-nav ">
                <li *ngFor="let x of navdata" class="nav-item">
                    <a class="nav-link" routerLink= "{{ x.link}}" >{{x. name}}</a>
                </li>            
            </ul>
        </div>
    </div>

    <div *ngIf= "role == 2" class="nav">
        <div class="open navbar-open" id="navbarinfo">        
            <ul class="navbar-nav ">
                <li *ngFor="let x of navdoc" class="nav-item">
                    <a class="nav-link" *ngIf = "x.name != 'Profile'" routerLink= "{{ x.link}}">{{x. name}}</a>
                    <a class="nav-link" *ngIf = "x.name == 'Profile'" routerLink= "{{ x.link}}" [queryParams]="{id: 2}">{{x. name}}</a>
                </li>            
            </ul>
        </div>        
    </div>

    <button (click)="logout()">LogOut </button>

</div>