* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

.background{
  min-width: 100vw;
   min-height: 100vh;
   max-width: 100vw;
   max-height: 100vh;
   background-color:#005059;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.nav{
 height: 80vh;
 width: 100vw;
 
 background-color: #C8E8EA;
display: flex;
flex-direction: column;
justify-content: centre;

}
.card{
     background-color:#C8E8EA;
     margin: auto;
     border: 1px solid #C8E8EA;
     padding: 10px;
     box-shadow:5px 10px rgb(138, 201, 206);
      height: 90vh;
     width:25vw;
     border-radius: 20px; 
     display: flex;
     flex-direction: column;
     justify-content:centre;
     margin-top: 5vh;
     margin-left: 75vh;      
}
.inputfield {
   padding: 6%;
   font-weight: normal;
}

.inputfield input {
   width: 20vw;
   height: 5vh;
   text-align: left;
   display: flex;
   flex-direction: column;
   font-size: 70%;
   border-radius: 8px;
   border-color: rgb(138, 201, 206);
   background-color: rgb(138, 201, 206);
}
.register button
{
   font-size: 88%;
   text-align: center;
   justify-content: center;
   border-radius: 10px;
   border-color: rgb(138, 201, 206);
   width: fit-content;
   padding: 1% 2%;
   background-color: rgb(138, 201, 206);
   margin-left: 2%;
   cursor: pointer;
   
}

.register p{
   margin-left: 6%;
   padding: 2%;
}

.register button:hover{
   background-color:#C8E8EA ;
   box-shadow: none;
}