<p>doctors-profile works!</p>

<div class="background">
    <div class="nav"> 
    <div class="card"> 
      <form [formGroup]="formreg" (ngSubmit)="submit()">
                      <div class="inputfield">
                          <input type="text" formControlName="name" placeholder="  Enter Your Name" />
                      </div>
                      <div class="inputfield">
                           <input type="text" formControlName="specialization" placeholder="  Enter Specialization" />
                      </div>
                      <div class="inputfield">
                          <input type="text" formControlName="college" placeholder="  College Attended" />
                      </div>
                      <div class="inputfield">
                          <input type="text" formControlName="workplace" placeholder="  Current Workplace" />
                      </div>
                      <div class="inputfield">
                          <input type="text" formControlName="degree" placeholder="  Add your degree" />
                      </div>
                       <div class="inputfield">
                          <input type="text" formControlName="name" placeholder="  Enter your name" />
                      </div>
                       <div class="inputfield">
                          <input type="text" formControlName="email" placeholder="  Enter your email-id" />
                      </div>
                      <div class="register" (click) = "submit()">
                          <button type="button">Register</button><br>
                      </div>
                  </form>
              </div></div>
      
    </div>
  
</div>
