<p>reminderslot works!</p>

<div class="main">
    <div class="adjust3">
        <div class="doc">Reminders</div>
        <div class="btn6" (click)= "gotoaddremind()">Add Reminders</div>

    </div> 
    <div class="cont">
        <div class="adjust1">
         
            <div class="slottitle" *ngFor="let info of info">{{info}}</div>
        </div>
        <div class="adjust">
            <div class="row1" *ngFor="let x of remind; let i=index">
                <div class="column1">{{x.payload.doc.data().MedicineName}}</div>
                <div class="column2">{{x.payload.doc.data().Time}}</div>
                
                <!-- <div class="column1">date</div> -->
                <!-- <div class="column1" >
                    <div class="btn6" (click) = "gotoaddremind()">Add a Reminder</div>
                </div>
                 -->
            </div>
        </div>

    </div>
</div>

<!-- <div class="main">
    <div class="consult">
        <div class="list">
            <div class="doctor" *ngFor="let x of rem; let i=index" (click)="clickremind(i, x.payload.doc.id)">
                <div class="pic">

                </div>
                <div class="info" >
                    <div class="name" >{{x.payload.doc.data().MedicineName}}</div>
                    <div></div>
                    <div class="reviewre">{{x.payload.doc.data().Time}}</div>
                    <div class="rating r1">
                    </div>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class = "addbut"><div class = "btn6" style = "width: 15%; height: fit-content;" (click) = "gotoaddremind()">Add a Reminder</div>
            <ngx-extended-pdf-viewer [src]="rem[currentremindindex].payload.doc.data().link"
                [useBrowserLocale]="true" height="80vh"></ngx-extended-pdf-viewer>
            
        </div>
    </div>
</div> -->
    <!-- <div class="adjust3">
        <div class="doc">Kylie Wilson</div>
        <div class="price">Price:100</div>

    </div>  -->
    <!-- <div class="cont"> -->
        <!-- <div class="adjust1">
         
            <div class="slottitle" *ngFor="let info of info">{{info}}</div>
        </div> -->
        <!-- <div class="adjust">
            <div class="row1" *ngFor="let x of remind">
                <div class="btn6" (click) = "rem()">Add a reminder</div>
                <div class="column1">time</div>
                <div class="column1">day</div>
                <div class="column1">date</div>
                <div class="column1">
                    
                </div>
                
            </div>
        </div>

    </div>
</div> -->
