<ng-template #t let-fill="fill">
    <span class="star1" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
    </span>
</ng-template>

<div class="main">
    <div class="consult">
        <div class="list">
            <div class="doctor" *ngFor="let x of dietplan">
                <div class="pic">

                </div>
                <div class="info">
                    <div class="name">{{x.payload.doc.data().DoctorInCharge}}</div>
                    <div class="reviewre">{{x.payload.doc.data().DietPlanBeginDate}} - {{x.payload.doc.data().dietPlanEndDate}}</div>
                    <div class="rating r1">

                    </div>
                </div>
            </div>
        </div>

        <div class="profile">
            <button (click) = "test()">Add</button>
            <ngx-extended-pdf-viewer [src]="'https://firebasestorage.googleapis.com/v0/b/bridging-gaps-677a5.appspot.com/o/23.pdf?alt=media&token=5c122c42-6cb2-420b-9f1b-30e62494b98c'"
                [useBrowserLocale]="true" height="85vh"></ngx-extended-pdf-viewer>

            <!-- <div class="profile-card">
                <button>Add a member</button>
                <div class="title">Profile</div>
                <div class="introcard">
                    <div class="photo"></div>
                    <div class="nameandprof">
                        <div class="name">Kyle Wilson</div>
                        <div class="prof">83 Years</div>
                    </div>
                    <div class = "rating">
                        <button>edit</button>
                    </div>
                </div>

                <div class="description">
                </div>
            </div> -->
        </div>
    </div>
</div>