<ng-template #t let-fill="fill">
    <span class="star1" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
    </span>
</ng-template>

<div class="main">

    <!-- Add Medical History -->
    <div class="consult" *ngIf = "type == 1">
        <div class="list">
            <div class="doctor" *ngFor="let x of dietplan; let i=index" (click)="click(i, x.payload.doc.id)">
                <div class="pic">

                </div>
                <div class="info" >
                    <div class="name" >{{x.payload.doc.data().DoctorInCharge}}</div>
                    <div></div>
                    <div class="reviewre">{{x.payload.doc.data().DietPlanBeginDate}} - {{x.payload.doc.data().dietPlanEndDate}}</div>
                    <div class="rating r1">

                    </div>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class = "addbut"><div class = "btn6" style = "width: 15%; height: fit-content;" (click) = "gotoadddiet()">Add a diet</div></div>
            <ngx-extended-pdf-viewer [src]="dietplan[currentfamindex].payload.doc.data().link"
                [useBrowserLocale]="true" height="80vh"></ngx-extended-pdf-viewer>
        </div>
    </div>

    <div class="consult" *ngIf = "type == 2">
        <div class="list">
            <div class="doctor" *ngFor="let x of dietplan; let i=index" (click)="click(i, x.payload.doc.id)">
                <div class="pic">

                </div>
                <div class="info" >
                    <div class="name" >{{x.payload.doc.data().DoctorInCharge}}</div>
                    <div></div>
                    <div class="reviewre">{{x.payload.doc.data().DietPlanBeginDate}} - {{x.payload.doc.data().dietPlanEndDate}}</div>
                    <div class="rating r1">

                    </div>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class = "addbut"><div class = "btn6" style = "width: 15%; height: fit-content;" (click) = "gotoadddiet()">Add a diet</div></div>
            <ngx-extended-pdf-viewer [src]="dietplan[currentfamindex].payload.doc.data().link"
                [useBrowserLocale]="true" height="80vh"></ngx-extended-pdf-viewer>
        </div>
    </div>

    <!-- Add helper -->
    <div class="consult" *ngIf = "type == 3">
        <div class="list">
            <div class="doctor" *ngFor="let x of dietplan; let i=index" (click)="click(i, x.payload.doc.id)">
                <div class="pic">

                </div>
                <div class="info" >
                    <div class="name" >{{x.payload.doc.data().DoctorInCharge}}</div>
                    <div></div>
                    <div class="reviewre">{{x.payload.doc.data().DietPlanBeginDate}} - {{x.payload.doc.data().dietPlanEndDate}}</div>
                    <div class="rating r1">

                    </div>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class = "addbut"><div class = "btn6" style = "width: 15%; height: fit-content;" (click) = "gotoadddiet()">Add a diet</div></div>
            <ngx-extended-pdf-viewer [src]="dietplan[currentfamindex].payload.doc.data().link"
                [useBrowserLocale]="true" height="80vh"></ngx-extended-pdf-viewer>
        </div>
    </div>
</div>