.main {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #005059;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.profile{
    background-color: #c8e8ea;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}