.main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #005059;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.consult {
  background-color: #c8e8ea;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.list {
  background-color: #0050597a;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 58vw;
  border-radius: 20px;
}

.catalog
{
  height: 100%;
  width: 110vh;
  background-color: orange;
  justify-content: center;
}

.pic
{
  height: 10vh;
  width: 10vh;
  background-color:white;
}

.profile {
  height: 75vh;
  width: 40vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  background-color: #0050597a;
  align-items: center;
}

.profile-card {
  height: 100%;
  width: 30vw;
  background-color: #44b915ca;
}
.profile-card h1 {
  font-size: 220%;
  font-weight:700;
}

.profile-card h2
{
 font-size: 150%;
 margin-left: 100px;
}

.profile-card h5
{
 font-size: 100%;
 margin-left: 100px;
}
.photo {
  height: 10vh;
  width: 10vh;
  margin-top:-7vh;
  background-color: #ffffff;
  justify-content: center;
}

.description
{
  justify-content: space-evenly;
}

.description h3
{
  font-size: 150%;
  margin-top:20px;
}

.review
{
  height:10vh;
  width: 30vw;
  background-color: red;
}

.review button
{
  justify-content: center;
  margin-left: 55vh;
}

.checked {
  color: orange;

}

.tags
{
 height: 20vh;
 width: 30vw;
 background-color:rgb(83, 44, 167);
}