<p>consultation works!</p>
<div class="main">
  <div class="consult">
    <div class="list">
      <div class="catalog">

        <div class="pic">

        </div>
        <div class="info">
          kylie wilson
          <div class="name">
            Awesome Job
          </div>

        </div>
      </div>
    </div>
    <div class="profile">

      <div class="profile-card">
        <h1>profile</h1>
        <h2>kylie wilson</h2>
        <h5>pyshiatrist</h5>
        <div class="photo">

        </div>

        <div class="description">
          <h3>Description</h3>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam excepturi modi sequi, sapiente molestiae
          voluptatum ipsa? Corrupti nihil aperiam possimus vitae accusantium odio expedita, optio nisi minus ipsum
          inventore aliquid molestias laborum doloribus veniam est quibusdam sit, blanditiis alias nam! Adipisci
          aspernatur quas doloribus expedita, itaque mollitia! Perspiciatis, similique dolores?
        </div>
        <div class="review">
          <button>view all</button>
          <h6>Average Rating</h6>
          
          
          <div class="tags">
           <div class="tag1"></div>
           <div class="tag2"></div>
           <div class="tag3"></div>
          </div>
        </div>
      </div>
    </div>

  </div>