<div class = "main">
    <div class = "header">
        <div class="starttop">
            <div class="lstartcontent">
                <p>Cart</p>
            </div>
            <div class="startpic">
                <img src="../../assets/images/cart.png" height="200" >
            </div>
        </div>
        <div class="search">
            <input type="text" placeholder=" ENTER ADDRESS">
        </div>
    </div>
    <div class = "maincontent">
        <div class = "table">
            <div class = "row0" style = "display: flex; width: 100%; color: grey; justify-content: space-evenly;">
                <div style="flex-basis: 20%;" class = "productitem"></div>
                <div style="flex-basis: 30%;" class = "productitem">Name</div>
                <div style="flex-basis: 20%;" class = "productitem">Sold By</div>
                <div style="flex-basis: 20%;" class = "productitem">Price</div>
                <div style="flex-basis: 10%;" class = "productitem">Quantity</div>
            </div>
            <div class = "cartcont">
                <div class = "row1" *ngFor = "let x of items" style = "display: flex; width: 100%; justify-content: space-evenly;">
                    <div style="flex-basis: 20%;" class = "productitem"><img style="height: 7vh; width: 7vh;" src="{{x.img}}" alt="adidas"></div>
                    <div style="flex-basis: 30%;" class = "productitem">{{x.namee}}</div>
                    <div style="flex-basis: 20%;" class = "productitem">{{x.soldby}}</div>
                    <div style="flex-basis: 20%;" class = "productitem">{{x.price}}</div>
                    <div style="flex-basis: 10%;" class = "productitem">{{x.quantity}}</div>
                </div>
            </div>
            
        </div>
        <div class = "orderbill">
            <div class = "bill" style="padding: 2%; display: flex; flex-direction: column; align-items: center;">
                <div style = "font-family: country; font-size: 200%; flex-basis: 30%; display: flex; flex-direction: column; justify-content: center;">Order Bill</div>
                <div class = "prices" style="flex-basis: 50%; display: flex; flex-direction: column; justify-content: space-evenly; width: 100%; padding: 2%; font-size: 150%;">
                    <div style = "display: flex; justify-content: space-between;"><div>Total:</div><div>{{total}}</div></div>
                    <div style = "display: flex; justify-content: space-between;"> <div>Shipping:</div> <div>{{shipping}}</div> </div>
                    <div style = "display: flex; justify-content: space-between; font-weight: bolder;"><div>Sub Total:</div> <div>{{subtotal}}</div></div>
                </div>
                <div></div>
                <button class = "custbutton"(click) = "proceed()">Checkout Now</button>
            </div>
           
        </div>
    </div>
</div>