.header{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #bab6f0, #c7e4ff  100%);
}

.startpic
{
    margin-top: 7%;
}

  .starttop
  {
      display:flex;
      flex-direction: row;
  }
  .lstartcontent
  {
    margin-top: 10%;
    margin-left:40%;
    font-family: country;
    color:#9370dc;
    font-size: 300%;
    line-height: 1.5;
  }

.search
{
    border-radius: 70px;
    display:flex;
    justify-content: space-evenly;  
    margin: 2%;
}

.search input[type=text] {
    border-radius: 70px;
    border: none;
    width: 60vw;
    font-size: 17px;
}

.main{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.maincontent{
    display: flex;
}

.table{
    flex-basis: 60%;
    padding: 2%;
    width: 100%;
}

.orderbill{
    flex-basis: 40%;
}

.bill{
    width: 30vw;
    height: 50vh;
    background-color: rgb(250, 250, 250);
    margin-top: 2vh;
}
.filter{
    width: 20vw;
    height: 50vh;
    background-color: grey;
}

.products{
    width: 80vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product{
    margin: 2% 0;
}

.productitem{
    display: flex;
    justify-content: center;
    text-align: center;
    border: black;
}

.row1{
    padding: 0 2%;
    // border-top: solid silver thin;
    // border-bottom: solid silver thin;
    background-color: rgb(250, 250, 250);
    height: 10vh;
    align-items: center;
}