.main{
    height: 100vh;
    padding-top: 10vh;
    width: 100vw;
    background-color: #C8E8EA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: #52bac2;
    width: 40vw;
}


.title{
    height: 5vh;
    width: 100%;
    background-color: rgb(138, 201, 206);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    // height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-row{
    width: 60%;
}