<div class="main">

  <div class="monthlycal">
    <div class="calendar">
      <div class="cal">

        <div class="month">

          <div class="year">{{year[month]}}, {{curryear}} </div>


          <div class="arrow">
            <div class="arrow1" (click)="move('b')">&larr;</div>
            <div class="arrow2" (click)="move('f')">&rarr;</div>
          </div>
        </div>
        <div class="align">
          <div class="name" *ngFor="let days of days">{{days}}</div>
        </div>
        <div class="grid">
          <div class="five" *ngFor="let five of [0, 1, 2, 3, 4,5] ">
            <div class="seven mark" [ngClass]="{
              mark:iscurrent(five, day)
            }" *ngFor="let day of [0, 1, 2, 3, 4, 5, 6]" (click) = "select(five, day)">
              {{daysofweek(five, day) }}
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="meet"></div>
  </div>

  <div class="weeklycal">
    <div class="sub">
      <div class="title">Schedule</div>
      <div class="al">
        <div class="adjust">{{getweek()}}</div>
        <div class="daysofweek">
          <div class="daysname" *ngFor="let x of days">{{x}}</div>
        </div>
      </div>
    </div>
    <div class="box">

      <div class="timeslot">
        <div class="timehour" *ngFor="let hours of hour">{{hours}}</div>
      </div>
      <div class="cala">
        <div class="time" *ngFor="let timeh of time; let i = index ">
          <div style = "width: 100%;" *ngFor="let day of [0, 1, 2, 3, 4, 5, 6]">
            <!-- <div class="adjust3"> -->
              <!-- {{getavailability(timeh, day)}} -->
              <div class="days" [ngClass] = "{
                'av': checkavailability(day, i) == 'free',
                'unav': checkavailability(day, i) == 'busy',
                'meet': checkavailability(day, i) == 'meet'
              }">
                <div class="avunav available" *ngIf = "!isbeforedate(day) && checkavailability(day, i) != 'meet'" (click) = "availability(i, day, 'free')">
                  <!-- <button>Available</button> -->
                </div>
                <div class="avunav unavailable" *ngIf = "!isbeforedate(day) && checkavailability(day, i) != 'meet'" (click) = "availability(i, day, 'busy')">
                  <!-- <button>Unavailable</button> -->
                </div>
              </div>
              
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>