.main
{
    height: 100vh;
    padding-top: 10vh;
    width: 100vw;
    background-color:#c8e8ea;
    display: flex;
    flex-direction: row;
    // justify-content: space-evenly;
}

.monthlycal
{
    height: 90vh;
    width: 30%;
    // background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;

}

.calendar
{
    height: 50vh;
    background-color: #C8E8EA;
    display: flex;
    align-items: center;
    // padding-left: 10%;
    justify-content: center;
}

.cal
{
    height: 48vh;
    width: 80%;
    // margin-top:13vh;
    background-color: white;
    border-radius:20px;
    align-items: center;
    
}

// .adjust1
// {
//     width: 100%;
//     display: flex;
//     flex-direction:row;
// }
.month
{
    height:5vh ;
    width: 100%;
    // background-color: lightsalmon;
    display: flex;
    flex-direction:row;
}

.year
{
    width: 100%;
    // background-color:lavender;
    padding-left: 2vh;
    font-size:120%;
    font-weight: bold;
}
.arrow
{
    // height:5vh;
    // width:15%;
    // background-color: darkcyan;
    // margin-left: 25vh;
    cursor: pointer;
    display: flex;
    // flex-direction: row;
    
}
.arrow1
{
    font-size:2em;
    margin-top:-2vh;
    // align-items: center;
    // background-color: aqua;
}
.arrow2
{
    font-size:2em;
    margin-top:-2vh;
    // align-items: center;
    // background-color: rgb(112, 3, 3);
}
.align
{
    width: 100%;
    display: flex;
    flex-direction: row;
    // justify-content: space-evenly;
}
.name
{
  
    height:5vh;
    width:100%;
    // background-color: thistle;
    font-weight: 700;
    
}

.grid{
    width:100%;
    font-size: 100%;
    font-weight: 600;
}

.five
{
   height: 3vh;
   width: 100%;
   background-color: #C8E8EA;
   margin: 3vh 0vh;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
.seven
{
    height: 3vh;
    width: 10%;
    // background-color: #C8E8EA;
    align-items: center;
    cursor: pointer;
}
.mark{
   border-radius : 50%;
   height :4vh;
   width : 4vh;
   background-color: lightcoral;
}
.meet
{
    height: 40vh;
    // background-color: lightcoral;
}

.weeklycal
{
    height: 90vh;
    width: 70%;
    // background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
}

.sub
{
    height:20vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.title
{
    height:10vh;
    width: 100%;
    // background-color: aqua;
    
}
.al
{
    display: flex;
    flex-direction: row;
    // justify-content: space-evenly;
    // padding-left: 15%;
}
.adjust
{
    width: 15%;
    // background-color: antiquewhite;
}

.daysofweek
{
    width:84%;
    display: flex;
    font-size:80vh;
    flex-direction: row;
    
    justify-content: space-evenly;
}
.daysname{
    height:5vh;
    width: 100%;
    font-weight:bold;
    //  background-color: darkgoldenrod;
     font-size:0.03em;
    font-weight:700;
    text-align: center;
}

.box
{
    height:80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.timeslot
{
    height:90vh;
    width: 15%;
    // background-color:pink;
}

.timehour
{   
    font-size:120%;
    font-weight:500;
    height:5vh;
    width: 100%;
    // background-color: gray;
    // margin: 3vh 0vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cala{
  width: 85%;
//   background-color: white;
}
.days
{
    height: 5vh;
    width: 100%;
    // background-color: coral;
    font-size:10vh;
    border-bottom: solid thin silver;
    border-right: solid thin silver;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
// .adjust3
// {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }

.avunav{
    height:3vh;
    width: 3vh;
    border-radius: 50%; 
}
 .available
 {   
    background-color: green;
}

// .available button{
//     font-size:18px;
//     text-align:center;
// }
.unavailable
{
    background-color: rgb(175, 0, 0);   
}
// .unavailable button{
//     font-size:18px;
//     text-align:center;
// }
.time
{
   height: 5vh;
   width: 100%;
//    background-color: cadetblue;
//    margin: 3vh 0vh;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }