<p>timeslots works!</p>
<div class="main">
    <div class="adjust3">
        <div class="doc">Kylie Wilson</div>
        <div class="price">Price:100</div>

    </div> 
    <div class="cont">
        <div class="adjust1">
         
            <div class="slottitle" *ngFor="let info of info">{{info}}</div>
        </div>
        <div class="adjust">
            <div class="row1" *ngFor="let rows of [0, 1, 2, 3, 4, 5 , 6 , 7 , 8 , 9 ]">
                <div class="column1">time</div>
                <div class="column1">day</div>
                <div class="column1">date</div>
                <div class="column1">
                    <div class="btn6" (click) = "proceed()">Book</div>
                </div>
                
            </div>
        </div>

    </div>
</div>