<div class="main">
    
    <mat-form-field>
        <mat-select [(value)]="value" class="ip" style="font-size: 100%; border-bottom: none;">

            <div *ngFor="let opt of members; let i = index">
                <mat-option value="{{i}}" class="options">
                    {{opt.payload.doc.data().FamilyMemberName}}</mat-option>
            </div>
        </mat-select>
    </mat-form-field>

    <div class="adjust3" *ngIf = "doctor">
        <div class="doc">Doctor: {{doctor.DoctorName}}</div>
        <div class="price">Price: {{doctor.DoctorFees}}</div>
    </div>
    <div class="adjust3 arrow">
        <div>Week: {{getweekparsed()}}</div>
        <div class="a" (click) = "move('b')">&larr;</div>
        <div class="a" (click) = "move('f')">&rarr;</div>
    </div>
    <div class="cont">
        <div class="adjust1">

            <div class="slottitle" *ngFor="let info of info">{{info}}</div>
        </div>
        <div class="adjust">
            <div *ngFor="let rows of slots; let i = index">
                <div class="row1" *ngIf = "!islesserthannow(rows.payload.doc.data().day, rows.payload.doc.data().timeslot) && rows.payload.doc.data().availability == 'free'">
                    <div class="column1">{{hour[rows.payload.doc.data().timeslot]}}</div>
                    <div class="column1">{{days[getday(rows.payload.doc.data().day)[3]]}}</div>
                    <div class="column1">{{getday(rows.payload.doc.data().day)[0]}}
                        {{months[getday(rows.payload.doc.data().day)[1]]}} {{getday(rows.payload.doc.data().day)[2]}}
                    </div>
                    <div class="column1">
                        <div class="btn6" (click)="proceed(i)">Book</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>