<ng-template #t let-fill="fill">
  <span class="star1" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span>
</ng-template>

<div class="main">
  <div class="title">

    <div class="title2"></div>
    <div class="title1"></div>
    <div class="btn" >
      <div class="btn6" style="width: 20vh" (click) ="addareview();">Add a review</div>
    </div>
  </div>
  <div class="box">
    <div class="column1" *ngFor="let x of ratings">
      <div class="log">
        <img src="https://firebasestorage.googleapis.com/v0/b/bridging-gaps-677a5.appspot.com/o/Assets%2FReview%2Freview.png?alt=media&token=d067f3b5-7e41-47d5-957a-ca93e9f20e27">
        <!-- <div class="pic"></div> -->
      </div>
      <div class="box2">
      
        <div class="box3">
        
          <div class="adjust">
            <div class="box4">{{x.payload.doc.data().useremail}}</div>
            <div class="box5">
              <!-- <div class="rating r1"> -->
                <ngb-rating
                  [max]="5"
           [(rate)]="x.payload.doc.data().reviewrating"
                  [readonly]="true"
                ></ngb-rating>
              <!-- </div> -->
            </div>
          </div>
        </div>
        <div class="comment1"> {{x.payload.doc.data().reviewcomment}}</div>
      </div>

    </div>
  </div>

</div>