<ng-template #t let-fill="fill">
  <span class="star1" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span>
</ng-template>

<div class="main">
  <div class="title">

    <div class="title2"></div>
    <div class="title1"></div>
    <div class="btn" >
      <div class="btn6" style="width: 20vh" (click) ="addareview();">Add a review</div>
    </div>
  </div>
  <div class="box">
    <div class="column1" *ngFor="let x of ratings">
      <div class="log"></div>
      <div class="box2">
      
        <div class="box3">
        
          <div class="adjust">
            <div class="box4">{{x.payload.doc.data().useremail}}</div>
            <div class="box5">
              <!-- <div class="rating r1"> -->
                <ngb-rating
                  [max]="5"
           [(rate)]="x.payload.doc.data().reviewrating"
                  [readonly]="true"
                ></ngb-rating>
              <!-- </div> -->
            </div>
          </div>
        </div>
        <!-- <div class="comment"></div> -->
        <div class="comment1"> {{x.payload.doc.data().reviewcomment}}</div>
      </div>

    </div>
  </div>

</div>