/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
  overflow-x: hidden;
 }
:root {
    --col1: #005059;
    // --col4: rgb(178, 154, 231);
    // --col4d:rgb(45, 88, 72);
    // --col4l: rgb(66, 126, 103);
    // --col4vl: rgb(123, 228, 188);
    // --col5: rgb(212, 212, 212);
    // --appbg: #FFF4F4;
 }

 .custom-btn {
    // width: 130px;
    // height: 40px;
    color: #fff;
    border-radius: 5px;
    // padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .btn-3 {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:hover{
     color: rgba(2,126,251,1);
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }
   //button
  .btn6, .btn6:link, .btn6:visited {
    padding: 0 1vh;
    border: 2px solid #333;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    // font-size: 13px;
    height: fit-content;
    text-align: center;
    transition: all .2s ease-in-out;
    cursor: pointer;
    
    &:hover {
      background: #333;
      border: 1px solid #333;
      color: white;
      border-radius: 30px;
    }
  }
  
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.cdk-overlay-container, .cdk-overlay-pane {
  z-index: 9999 !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


//Rating

:host{ ::ng-deep{ .sr-only{display:none;}}}

ngb-rating {
  color: #ffdb78;
}
.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}

.star1 {
  position: relative;
  display: inline-block;
  font-size: 150%;
  color: #d3d3d3;
}

.full {
  //color: var(--col2vl);
  //color: var(--col4);
  color: #ffdb78;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  //color: var(--col4);
  color: #ffdb78;
}