<!-- <p>home works!</p> -->
<div class="main">
    <!-- <section class="features">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div> 
        
    </section> -->

    <div class="appointment">
       
        <div class="past">
            <div class="oldt">PAST APPOINTMENTS</div>
            <div class="oldb">
                <div class="content">DAY</div>
                <div class="content">NAME</div>
                <div class="content">LINK</div>
            </div>
        </div>
        <div class="between"></div>
        <div class="upcoming">
            <div class="oldt">UPCOMING APPOINTMENTS</div>
            <div class="oldb">
                <div class="content">DAY</div>
                <div class="content">NAME</div>
                <div class="content">LINK</div>
            </div>
        </div>

    </div>

    <div class="family">
        <div class="above"> MY FAMILY</div>
        <div class="below">
        <div class="members" *ngFor="let five of [0, 1, 2, 3] ">
            <div class="pic"></div>
            <div class="info">
                Name:<br>
                Relation:<br>
                Age:
            </div>
        </div>
        <!-- <div class="members">
            <div class="pic"></div>
            <div class="info">
                Name:<br>
                Relation:<br>
                Age:
            </div>
        </div> -->
        <!-- <div class="members">
            <div class="pic"></div>
            <div class="info">
                Name:<br>
                Relation:<br>
                Age:
            </div>
        </div> -->
        <!-- <div class="members">
            <div class="pic"></div>
            <div class="info">
                Name:<br>
                Relation:<br>
                Age:
            </div>
        </div> -->
    </div>
    </div>

    <div class="medication">
        <div class ="top"> MEDICATION
            <div class ="show"> SHOW ALL
                <div class="arrow" >&rarr;</div>
            </div> 
        </div>
        <div class ="bottom">

        <div class="medicine" *ngFor="let five of [0, 1, 2, 3] ">
            <div class="types"></div>
            <div class="details"></div>
        </div>
        <!-- <div class="medicine">
            <div class="types"></div>
            <div class="details"></div>
        </div>
        <div class="medicine">
            <div class="types"></div>
            <div class="details"></div>
        </div>
        <div class="medicine">
            <div class="types"></div>
            <div class="details"></div>
        </div>   -->
        </div>
    </div>

    <div class="test">
        <div class ="top"> LABTESTS
            <div class ="show"> SHOW ALL
                <div class="arrow" >&rarr;</div>
            </div> 
        </div>
        <div class ="bottom">
        <div class="card" *ngFor="let five of [0, 1, 2, 3] ">
            <div class="types"></div>
            <div class="details"></div>
        </div>
        <!-- <div class="card">
            <div class="types"></div>
            <div class="details"></div>
        </div>
        <div class="card">
            <div class="types"></div>
            <div class="details"></div>
        </div>
        <div class="card">
            <div class="types"></div>
            <div class="details"></div>
        </div> -->
        </div>
    </div>

</div>

<div>
    <div style="display: flex;">

    </div>
</div>