
:host{ ::ng-deep{ .sr-only{display:none;}}}
.main{
    padding-top: 10vh;
    background-color: #c8e8ea;
    min-height: 250vh;
    max-height: 250vh;
    min-width: 250vw;
    max-width: 250vw;
}
.appointment {
    height: 40vh;
    width: 100vw;
     display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #c8e8ea;
}
.past{
    height:30vh;
    width: 35vw;
    // background-color: #eac8c8;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // margin-top: 10vh;
    // height:40vh;
    // width: 35vw;
    // background-color: #ee16a6;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
}
.oldt{
      height: 5vh;
      width:35vw;
    //   background-color: #3c9096;
      font-size: 25px;
      text-align: center;
      margin-top: 2vh;
    //   bottom:5px;

}
.oldb{
    height:30vh;
    width: 35vw;
     background-color: #22c42f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.rect{
    height: 30vh;
    width: 10vw;
    margin: 1vw;
    text-align: center;
   background-color: rgb(248, 255, 248);
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.content{
      height: 3vh;
      width: 8vw;
    margin: 1vw;
      text-align: center;
    background-color: rgb(4, 223, 4);
}
.inputs{
    height: 24vh;
    width: 10vw;
//   margin: 1vw;
    text-align: center;
  background-color: rgb(201, 223, 4);
}
.between{
    height:40vh;
    width: 10vw;
    // background-color: #eac8e3;
}
.upcoming{
    height:40vh;
    width: 35vw;
    // background-color: #eac8c8;
    // height:40vh;
    // width: 35vw;
    // background-color: #ee16a6;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
}
.family{
    height: 50vh;
    width: 100vw;
    background-color:#c8e8ea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border-radius: 20%;
    // border: black;
}
.above{
    height: 10vh;
    width:100vw;
    background-color: #c8e8ea;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}
.below{
    height:40vh;
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // border-radius: 5%;
}
.members{
    height:30vh;
    width:20vw;
    background-color: #3c909673;
    
    align-items: center;
    margin: 10px;
    // padding: 10px;
    justify-content: center;
}
.pic{
    height:20vh;
    width: 15vw;
    align-items: center;
    margin-left: 2.5vw;
    // background-color: #3c9096;
    // justify-content: center;
    // background-image: url("../../assets/images/family.png");
    // background-size: 280px 200px;
    // background-repeat: no-repeat;
    // align-items: center;
}

.info{
    margin-top: -3vh;
    height:10vh;
    width:20vw;
    // background-color: #3c9096;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
    text-align: center;
    font-size: 100%;
    font-weight: bold;
}
.medication{
    height: 65vh;
    width: 100vw;
    background-color:#c8e8ea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50%;
//     border-radius: 20%;
 }
.top{
    height: 10vh;
    width:100vw;
    background-color: #c8e8ea;
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    // height:3.5vh;
    // width:100vw;
    // background-color: #c8e8ea;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // font-size: 20px;
    // font-weight: 600;
    // padding: 0 2%;
}
.top2{
    height: 10vh;
    width:100vw;
    // background-color: rgb(224, 37, 37);
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

.show{
    height: 3vh;
    width: 20vw;
  background-color: #c8e8ea;
    margin-left:80vw;
    font-size: 12px;
    color: rgb(98, 0, 255);
    cursor: pointer;
//     background-color: blue;
 }
.show1{
    height: 3vh;
    width: 20vw;
    margin-top: -1vh;
      background-color: #c8e8ea;
    margin-left:80vw;
    font-size: 12px;
    color: rgb(98, 0, 255);
    cursor: pointer;
    // background-color: blue;
}
.bottom{
    height:40vh;
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // margin-top: -3vh;
    // border-radius: 5%;
    // background-color: chartreuse;
}
.medicine{
    height:30vh;
    width:20vw;
    background-color:#3c909673;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.test{
    height: 50vh;
    width: 100vw;
    background-color: #c8e8ea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    // height:30vh;
    // width:20vw;
    // background-color:#3c909673; 
    // justify-content: center;
    // margin: 10px;
    // // padding: 10px;
    // align-items: center;
    // display: flex;
    // flex-direction: column;
    height:30vh;
    width:20vw;
    background-color:#3c909673;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.logo{
    height:20vh;
    width: 15vw;
    align-items: center;
    margin-left: 1.5vw;
}
.types{
    height: 20vh;
    width: 15vw;
    // background-color: #3c909673;
    justify-content: center;
    align-items: center;
    margin-left: 2.5vw;
}
.details{
    height:10vh;
    width:20vw;
    // background-color: #3c909673;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: -1vh;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    // height: 20vh;
    // width:20vw;
    // font-size: 150%;
    // background-color: #3c9096;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    // padding: 2%;
}

.image{
    width: 100%;
    height: 70%;
    background-color: transparent;
}

.full {
    //color: var(--col2vl);
    //color: var(--col4);
    color: #3c9096;
  }
  .half {
    //color: var(--col4);
    color: #3c9096;
  }
  .wsspbtn{
      margin: 1vh 0 1vh 0;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
    
  }
  ngb-rating {
    color: #FFDF00;
  }
  .star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #FFDF00;
  }
  
  .star1 {
    position: relative;
    display: inline-block;
    font-size: 150%;
    color: white;
  }
  
  .full {
    //color: var(--col2vl);
    //color: var(--col4);
    color: #FFDF00;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    //color: var(--col4);
    color: #FFDF00;
  }