// section{
//     min-height: 100vh;
//     // width: 100vw;
// }
// .features{
//    background-color: #C8E8EA;
//    .card{
//        background-color: #08808E;
//        color: white;
//    }
//    .btn{
//     background-color: #FE9A84;
//     border-radius: 10px;
//    }
// }

:host{ ::ng-deep{ .sr-only{display:none;}}}
.main{
    padding-top: 10vh;
    background-color: #c8e8ea;
}
.appointment {
    height: 50vh;
    width: 100vw;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.past{
    height:50vh;
    width: 35vw;
    background-color: #c8e8ea;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.oldt{
      height: 10vh;
      width:35vw;
      background-color: #c8e8ea;
      font-size: 25px;
      text-align: center;
      bottom:5px;

}
.oldb{
    height:40vh;
    width: 35vw;
    background-color: #c8e8ea;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.content{
      height: 38vh;
      width: 10vw;
      margin: 1vw;
      text-align: center;
      background-color: ghostwhite;
}
.between{
    height:40vh;
    width: 10vw;
    background-color: #c8e8ea;
}
.upcoming{
    height:50vh;
    width: 35vw;
    background-color: #c8e8ea;
}
.family{
    height: 75vh;
    width: 100vw;
    background-color:#c8e8ea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.above{
    height: 10vh;
    width:100vw;
    background-color: #c8e8ea;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}
.below{
    height:65vh;
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.members{
    height:60vh;
    width:20vw;
    background-color: #3c9096;
    align-items: center;
    margin: 10px;
    // padding: 10px;
    justify-content: center;
}
.pic{
    height:30vh;
    width: 20vw;
    background-color: #3c9096;
    // justify-content: center;
    // background-image: url("../../assets/images/family.png");
    // background-size: 280px 200px;
    // background-repeat: no-repeat;
    // align-items: center;
}
.info{
    height:30vh;
    width:20vw;
    background-color: #3c9096;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2%;
    // text-align: left;
    font-size: 130%;
}
.medication{
    height: 60vh;
    width: 100vw;
    background-color:#c8e8ea ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top{
    height:5vh;
    width:100vw;
    background-color: #c8e8ea;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    padding: 0 2%;
}
.show{
    height: 5vh;
    width: 20vw;
    background-color: #c8e8ea;
    margin-left:80vw;
    font-size: 12px;
    color: rgb(98, 0, 255);
    cursor: pointer;
}
.bottom{
    height:55vh;
    width:100vw;
    // background-color: rgb(215, 229, 230);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.medicine{
    height:50vh;
    width:20vw;
    background-color: #3c9096;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.test{
    height: 60vh;
    width: 100vw;
    background-color: #c8e8ea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    height:50vh;
    width:20vw;
    background-color: #3c9096(34, 32, 29);
    justify-content: center;
    margin: 10px;
    // padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.types{
    height: 25vh;
    width: 20vw;
    background-color: lightyellow;
    justify-content: center;
}
.details{
    height: 25vh;
    width:20vw;
    font-size: 150%;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2%;
}

.image{
    width: 100%;
    height: 100%;
}

.full {
    //color: var(--col2vl);
    //color: var(--col4);
    color: #e7d74b;
  }
  .half {
    //color: var(--col4);
    color: #e7d74b;
  }